<footer class="footer">
  <p>&copy; 2025 Your Name. All rights reserved.</p>
  <div class="social-icons">
    <a href="https://www.instagram.com/yourprofile" target="_blank">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/instagram.svg" alt="Instagram">
    </a>
    <a href="https://www.linkedin.com/in/yourprofile" target="_blank">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/linkedin.svg" alt="LinkedIn">
    </a>
    <a href="https://www.facebook.com/yourprofile" target="_blank">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/facebook.svg" alt="Facebook">
    </a>
  </div>
</footer>
