<nav class="navbar navbar-expand-md border-bottom navbar-light bg-body-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">Wanderlust</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a href="" class="nav-link"></a>
        </div>
        <div class="navbar-nav ms-auto">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="navbar-nav ms-auto">
            <a href="/listings/new" class="nav-link">Wanderlust your home!</a>
            <% if(!currUser) { %>
                <a href="/signup" class="nav-link">Sign Up</a>
                <a href="/login" class="nav-link">Log In</a>
            <% } %>
            <% if(currUser) {%>
                <a href="/logout" class="nav-link">Log Out</a>
            <% } %>
        </div>
    </div>
  </div>
</nav>