<% layout('layouts/boilerplate') -%>
<% var title = "All Listings - Wanderlust"; %>

<style>
    #filters{
        display: flex;
        flex-wrap: wrap;
    }

    .filter{
        text-align: center;
        margin-right: 2rem;
        /* margin-top: 2rem; */
        opacity: 0.7;
    }
    .filter:hover{
        opacity: 1;
        cursor: pointer;
    }
</style>

<div id="filters">
    <div class="property-type filter" data-type="House">
        <div><i class="fa-solid fa-house"></i></div>
        <p>House</p>
    </div>
    <div class="property-type filter" data-type="Flat">
        <div><i class="fa-solid fa-building"></i></div>
        <p>Flat/Apartment</p>
    </div>
    <div class="property-type filter" data-type="Camping">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
    </div>
    <div class="property-type filter" data-type="Castle">
        <div><i class="fa-solid fa-chess-rook"></i></div>
        <p>Castle</p>
    </div>
    <div class="property-type filter" data-type="Caravan">
        <div><i class="fa-solid fa-caravan"></i></div>
        <p>Caravan</p>
    </div>
    <div class="property-type filter" data-type="Hotel">
        <div><i class="fa-solid fa-hotel"></i></div>
        <p>Hotel</p>
    </div>
    <div class="property-type filter" data-type="Igloo">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Igloo</p>
    </div>
    <div class="property-type filter" data-type="Ship">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Cruise</p>
    </div>
</div>
<div class="all-listing row row-cols-lg-4 mt-3">
    <% for( let listing of listings ) { %>
        <a href="/listings/<%=listing._id%>">
            <div class="card col">
                <img src="<%=listing.image.url%>" alt="">
                <div class="card-body">
                    <h2><%=listing.title%></h2>
                    <p>&#8377;<%= listing.price?.toLocaleString("en-IN") || "N/A" %> / night</p>
                </div>
            </div>
        </a>
    <% } %>
</div>
