<% layout('layouts/boilerplate') -%>
<% var title = "Add New Property"; %>

<h1 class="page-heading" >Add new property!</h1>
<div class="form-step">
    <form class="add-new-form needs-validation" action="/listings" method="POST" novalidate enctype="multipart/form-data">
        <div>
            <label for="title">Give your Property a title</label>
            <input class="form-control" id="title" type="text" name="listing[title]" placeholder="Ocean Breeze Retreat" required>
        </div>
        <div>
            <label for="description">Tell more about your property</label>
            <textarea class="form-control" id="description" name="listing[description]" id="" placeholder="Enter the description" required></textarea>
        </div>
        <div>
            <label for="image">How does your property look like?</label>
            <input class="form-control" id="image" type="file" name="listing[image]" placeholder="Upload Image" required> 
        </div>
        <div>
            <label for="price">Price per night?</label>
            <input class="form-control" id="price" type="number" name="listing[price]" id="" placeholder="Enter the price" required> 
        </div>
        <div>
            <label for="location">Where is your property located?</label>
            <input class="form-control" id="location" type="text" name="listing[location]" placeholder="Enter the location" required> 
        </div>
        <div>
            <label for="country">Which country?</label>
            <select class="form-control" name="listing[country]" id="country">
            <% for (let i = 0; i < countryNames.length; i++) { %>
                <option value="<%= countryNames[i] %>"><%= countryNames[i] %></option>
            <% } %>
            </select>
        </div>

        <div id="map" style="height: 400px;"></div>

        <input type="hidden" name="listing[longitude]" id="lng">
        <input type="hidden" name="listing[latitude]" id="lat">


        <h5 class="mb-3">What about these guest favourites?</h5>
        <div class="row g-3 amenity-grid">
            <%- include('../forms/amenity', { listing: listing}) -%>
        </div>
        
        <h5 class="mb-3">Property Type?</h5>
        <div class="row g-3 prop-type">
            <%- include('../forms/property') -%>
        </div>

        <button>Submit</button>
    </form>
</div>