<div class="col-6 col-md-4">
    <label class="amenity-tile">
        <input type="radio" name="listing[property_type]" value="House" hidden>
        <div class="tile-content">
            <div class="amenity-icon"><i class="fas fa-house"></i></div>
            <div class="amenity-label">House</div>
        </div>
    </label>
</div>

<div class="col-6 col-md-4">
    <label class="amenity-tile">
        <input type="radio" name="listing[property_type]" value="Camping" hidden>
        <div class="tile-content">
            <div class="amenity-icon"><i class="fas fa-campground"></i></div>
            <div class="amenity-label">Camping</div>
        </div>
    </label>
</div>

<div class="col-6 col-md-4">
    <label class="amenity-tile">
        <input type="radio" name="listing[property_type]" value="Castle" hidden>
        <div class="tile-content">
            <div class="amenity-icon"><i class="fas fa-chess-rook"></i></div>
            <div class="amenity-label">Castle</div>
        </div>
    </label>
</div>

<div class="col-6 col-md-4">
    <label class="amenity-tile">
        <input type="radio" name="listing[property_type]" value="Caravan" hidden>
        <div class="tile-content">
            <div class="amenity-icon"><i class="fas fa-caravan"></i></div>
            <div class="amenity-label">Caravan</div>
        </div>
    </label>
</div>

<div class="col-6 col-md-4">
    <label class="amenity-tile">
        <input type="radio" name="listing[property_type]" value="Hotel" hidden>
        <div class="tile-content">
            <div class="amenity-icon"><i class="fas fa-hotel"></i></div>
            <div class="amenity-label">Hotel</div>
        </div>
    </label>
</div>

<div class="col-6 col-md-4">
    <label class="amenity-tile">
        <input type="radio" name="listing[property_type]" value="Igloo" hidden>
        <div class="tile-content">
            <div class="amenity-icon"><i class="fas fa-igloo"></i></div>
            <div class="amenity-label">Igloo</div>
        </div>
    </label>
</div>

<div class="col-6 col-md-4">
    <label class="amenity-tile">
        <input type="radio" name="listing[property_type]" value="Cruise" hidden>
        <div class="tile-content">
            <div class="amenity-icon"><i class="fas fa-ship"></i></div>
            <div class="amenity-label">Cruise</div>
        </div>
    </label>
</div>